@import "../theme.module";

@include themify() {
  .page {
    padding: 50px 0 100px 0;

    .container {
      padding: 50px 10px 50px;

      .track_info {
        @include mobile {
          width: 80%;
        }
        background-color: themed("primary");

        padding: 20px;
        border-radius: 8px;
        width: 400px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;

        gap: 10px;

        input {
          box-sizing: border-box;
          border: none;
          background-color: themed("third");
          border-radius: 8px;
          text-indent: 20px;
          height: 32px;
        }
      }

      .upload {
        @include mobile {
          width: 70%;
        }
        margin: 40px auto;
        width: 500px;
        height: 20vh;
        background: themed("third");
        border-radius: 16px;
      }

      .buttons {
        @include mobile {
          width: 80%;
          justify-content: space-between;
        }

        width: 500px;
        margin: auto;
        display: flex;
        justify-content: space-around;

        button {
          border-radius: 8px;
          width: 90px;
          padding: 0 5px;
          border: 2px solid themed("accent");
          background-color: themed("accent");
          color: black;
          cursor: pointer;
          transition-duration: 0.5s;

          &:hover {
            background-color: white;
            transition-duration: 0.5s;
          }
        }
      }
    }
  }
}

