@import "../../styles/theme.module";

@include themify() {
  .page {
    display: grid;
    grid-template-rows: 200px 200px 1fr;
    grid-auto-rows: 100px;
    color: themed("id_text");

    .head {
      display: flex;
      justify-content: center;
      position: relative;

      .return {
        position: absolute;
        left: 10px;
        top: 10px;
        text-decoration: none;
        color: themed("accent_bg");

      }

      .track {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
          border-radius: 50%;
        }

        p {
          margin: 0;
        }

        .info {
          margin-left: 20px;
        }
      }
    }

    .user_comment_container {
      @include mobile {
        width: 80%;
      }
      width: 420px;
      margin: auto;
      padding: 10px;
      border-radius: 16px;
      background: themed("primary");

      .user_comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        input {
          box-sizing: border-box;
          border: none;
          background-color: themed("third");
          border-radius: 8px;
          text-indent: 20px;
          height: 32px;
          width: 80%;
        }

        button {
          color: themed("primary");
          padding: 0 5px;
          font-size: 1.5em;
          border: none;
          border-radius: 8px;
          background: themed("third");
        }
      }
    }

    .comments_container {
      margin-bottom: 100px;

      h4 {
        padding: 5px;
        text-align: center;
      }

      .comments {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        gap: 1rem;

        .single_comment {
          display: flex;
          flex-grow: 1;

          align-items: center;
          justify-content: space-between;
          background: themed("primary");
          border-radius: 5px;


          p {
            margin: 0;
            text-align: center;
            padding: 0 5px;
          }

          .delete {
            color: themed("accent");
          }
        }
      }
    }
  }
}